<!DOCTYPE html>
<html>
<head>
  <title>RansackAdvancedSearch</title>
  <%= stylesheet_link_tag    "ransack_advanced_search/application", :media => "all" %>
  <%= javascript_include_tag "ransack_advanced_search/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
